/*_modal.scss*/

#{$ar}-modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 1000;

    &__overlay{
        position: absolute;
        background: rgba(231, 231, 228, 0.95);
        height: 100%;
        width: 100%;
    }

    &__dialog{
        position: absolute;
        width: 100%;
        top: 40px;
        bottom: 40px;
    }

    &__content{
        background: #fff;
        width: 90%;
        height: 100%;
        margin: auto;

        padding: 0 30px;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    }

    &__header{

    }

    &__body{
        height: 100%;
    }

    &__close{
        position: absolute;
        right: 20px;
        top: -25px;
        font-size: 20px;
        color: #666;
        cursor: pointer;
    }

    &--open{
        display: block;
    }
}
