<section class="ar-section">
  <header class="ar-section__header">
      <h1 class="ar-section__title cursor-pointer" routerLink="/home">Samples</h1>
      <ul class="ar-breadcrumbs">
          <li><a class="ar-breadcrumbs__item" href="javascript:void(0)" (keypress)="refresh()" (click)="refresh()" *ngIf="!loading && metadata">{{sampleId}}</a></li>
      </ul>
      <span class="float-r d-none">
</span>
  </header>
  <section class="ar-section__content p-t-2" style="padding: 0px;">
    <div>
      <p>
        {{metadata}}
      </p>
    </div>
      <!-- <div *ngIf="loading" aria-label="Loading page" class="k-i-loading"></div> -->
  </section>
</section>
