/*_main.scss*/

#{$ar}-main {
    height: 100%;
    font-family: $font-family;
    font-size: pxToRem(14);
    color: $font-color;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 20px;
    &:hover {
        background: $nc-lt-gray;
    }
}

::-webkit-scrollbar-track {
    background: #eee;
}
