.dr-header {
    display: flex;
    height: 3.12rem;
    background: #fff;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px #E4E8EB;
    &__left,
    &__right {
        display: inline-flex;
    }
    &__logo {
        height: 30px;
        margin-right: 20px;
        img {
            height: 100%;
        }
    }
    &__title {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subtitle {
        font-weight: 400;
        color: #DB4437;
        text-transform: capitalize;
        margin-left: 15px;
    }
    &__info {
        display: inline-flex;
        &-item {
            position: relative;
            padding: 0 20px;
            border-right: solid 1px #ccc;
            font-size: 12px;
            line-height: 20px;
            &:last-child {
                padding-right: 0;
                border-right: none;
            }
            &--lnk {
                cursor: pointer;
                &:hover {
                    color: #000000;
                }
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.dr-body {
    position: relative;
    display: grid;
    flex-flow: row nowrap;
    height: calc(100% - 50px);
    overflow-x: hidden;
    justify-content: center;
    padding: 35px;
    &__content {
        //padding: 0 60px 0 60px;
        width: 100%;
        // background-color: #F4F8F9;
        overflow: auto;
        height: 100%;
    }
}

.dr-main {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875rem;
    color: #4d4d4d;
}

body,
html {
    height: 100%;
    margin: 0;
}