/*_window.scss*/

#{$ar}-window{
    $window:&;
    position: relative;
    // height: 100%;

    &__body{
        height: 100%;
    }

    &--maximize{
        position: fixed;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 40px;
        z-index: 10000;
        background: rgba(0, 0, 0, 0.5);

        #{$window}__body{

        }
    }

    &--minimize{
        height: 30px;

        &#{$ar}-section__content-bottom{
            flex-grow: 0;
        }

        #{$window}__body{
            position: absolute;
            top:0;
        }
    }
}
