/*_thumbnail.scss*/

#{$ar}-thumbnail {
    $tnail: &;
    position: relative;
    height: 272px;
    width: 186px;
    margin-bottom: 30px;
    margin-right: 30px;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    border: solid 1px #ddd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    &__pic {
        height: 213px;
        width: 164px;
        background: #f0f0f0;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__title {
        font-size: 14px;
        font-weight: 400;
        padding: 15px 0px;
        @extend .ellipsis;
    }
    &s {
        display: flex;
        flex-flow: row wrap;
    }
}
