/*_algorithm.scss*/
#{$ar}-algorithm {
  $wf: &;
  height: 100%;
  &__node {
    /*position: relative;*/
    display: inline-flex;
    align-items: center;
    background: #F9F9F9;
    border: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-radius: 4px;
    /*margin-right: 100px;*/
    cursor: pointer;

    &:hover {
      border: 1px solid #A3A3A3;
    }

    img {
      width: 20px;
      margin-right: 5px;
    }
  }

  &__diagram {
    &-container {
      padding: 0px 40px;
      height: 100%;
      overflow-y: auto;
      width: 100%;
    }
  }

  &__stage {
    &-wrapper {
      display: inline-block;
      margin-top: 20px;

      &-multiple {
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        display: inline-block;
        float: left;

        &-connector {
          margin-bottom: 5px;
          width: 52.5px;
          display: inline-block;
          border: 1px solid #ccc;
          border-right: none;

          &--wrapper {
            display: inline-block;
          }

          &--right {
            margin-bottom: 5px;
            border: 1px solid #ccc;
            width: 52.5px;
            display: inline-block;
            border-left: none;
          }
        }

        &-node {
          width: 145px;
          display: block;

          &--wrapper {
            display: inline-block;
          }

          &--label {
            width: 56px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 11px;
            position: absolute;
          }

          .fa-ellipsis-h {
            margin-left: 57px;
            transform: rotate(90deg);
          }
        }

        &--box {
          height: 70px;
          border-bottom: 1px solid #c2c4c5;

          &--right {
            height: 70px;
            border-bottom: 1px solid #c2c4c5;
          }
        }

        &-line {
          width: 80px;
          float: left;
          border-bottom: 1px solid #c2c4c5;

          &-arrow {
            display: inline-block;
          }
        }

        &__arrow {
          margin-top: -4px;
          float: left;
        }
      }

      &--default {
        display: inline-block;
      }
    }

    &-node {
      width: 145px;
      float: left;
      margin-top: 30px;

      &--wrapper {
        display: inline-block;
        float: left;
      }

      &-default {
        background: #b9b9b9;
        display: block;
        float: left;
        span {
          width: 100%;
          padding: 0 15px;
        }
        i{
          display:none;
        }

        &--label {
          width: 100%;
          padding: 0 15px;
        }
      }

      &-label {
        width: 66px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        //line-height: 40px;
        display: inline-block;
        font-size: 11px;
      }

      > .fa-ellipsis-h {
        margin-left: 10px;
        transform: rotate(90deg);
      }
    }
  }

  &__line {
    height: 50px;
    width: 80px;
    float: left;
    border-bottom: 1px solid #c2c4c5;

    &-arrow {
      margin-top: 5px;
      display: inline-block;
      height: 50px;
      float: left;
    }
  }

  &__arrow {
    padding-top: 44.5px;
    float: left;
  }

  &__content {
    display: flex;
    padding: 50px 30px;
  }
}
